<template>
    <div class="container osmap-container">
      <h1 class="my-4">Location finder</h1>
      <div class="osmap-inner">
        <div class="osmap-left d-flex flex-column">
          <div class="osmap-card px-3 py-4">
            <h4 class="pb-3">
              Find local history and tourist offices
            </h4>
            <div class="form-group">
              <label for="id_regions">Select region</label>

              <v-select
                name="regions"
                v-model="form.region"
                :options="options.regions"
                :reduce="x => x.id"
                label="name"
              >
              </v-select>
            </div>
            <div class="form-group">
              <div class="form-group input-search">
              <label for="id_search">Search</label>
              <div class="input-group input-search">
                <input
                  name="query"
                  v-model="form.query"
                  type="text"
                  class="form-control dropdown-toggle"
                  placeholder=""
                  id="id_search"
                >
                <div class="search-icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.22222 13.4444C10.6587 13.4444 13.4444 10.6587 13.4444 7.22222C13.4444 3.78578 10.6587 1 7.22222 1C3.78578 1 1 3.78578 1 7.22222C1 10.6587 3.78578 13.4444 7.22222 13.4444Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 15.0001L11.6166 11.6168" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              </div>
            </div>
            <div>
              <a href="#" @click.prevent="clearAll">Clear all</a>
            </div>
          </div>
          <div class="osmap-card osmap-list flex-fill no-border-top">
            <div
              v-for="(location, index) in results"
              :key="index"
              class="osmap-list-item px-3 py-4"
              :class="{ active: current === location }"
              @click="selectLocation(location)"
            >
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <strong>{{ location.name }}</strong>
                    <p>{{ location.county }}, {{ location.district }}</p>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5H17" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13 1L17 5L13 9" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="osmap-right d-flex">
          <div class="osmap-card flex-fill" id="osmap-map">
          </div>
          <div class="osmap-sidebar" v-if="selected">
            <img class="img-fluid" src="/static/images/location.png">
            <div class="p-4">
              <h5 class="text-black text-strong">{{ selected.name }}</h5>
              <p>{{ selected.county }}, {{ selected.district }}</p>
              <dl class="row">
                <dt class="col-sm-5">Anzahl inkl. Ersatz</dt>
                <dd class="col-sm-7">{{ selected.contact }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-5">Anschrift</dt>
                <dd class="col-sm-7">{{ selected.address }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-5">Telefon</dt>
                <dd class="col-sm-7">{{ selected.phone }}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-5">Email</dt>
                <dd class="col-sm-7">{{ selected.email }}</dd>
              </dl>
              <template v-if="selected.keywords">
                <p class="text-strong">
                  Folgende Stichworte wurden diesem Verein zugeordnet:
                </p>
                <p>
                  {{ selected.keywords }}
                </p>
              </template>
              <p>
                <a href="#" @click.prevent="closeSidebar">Close</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script lang="javascript">
import { latLng, icon } from "leaflet"
import L from "leaflet"

// import municipalities from "german-administrative-areas/gemeinden.geo.json"
// import states from "./states.geo.json"
// import states from "./land.geo.json"
// import counties from "./kreise.geo.json"
import regions from "./regions.geo.json"
import counties from "./sample.geo.json"

import "leaflet/dist/leaflet.css"

export default {
  name: "App",

  components: {
  },

  data: () => ({
    map: null,
    geojsonRegions: null,
    geojson: null,
    tooltips: [],
    showingRegions: true,
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    attribution:
    '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    zoom: 9,
    center: [51.9625101, 7.6251879],
    icon: icon({
      iconUrl: "/static/images/marker.png",
      iconSize: [32, 37],
      iconAnchor: [16, 37]
    }),
    geoStyler: (feature, layer) => {
      return {
        "color": "rgba(241, 128, 141, 1)",
        "fillColor": "rgba(255, 255, 255, 0)"
      }
    },
    searchTimer: null,
    form: {
      region: null,
      query: null
    },
    options: {
      regions: [
        { id: 'Münster Städte', name: 'Münster Städte' },
        { id: 'Coesfeld', name: 'Coesfeld' },
        { id: 'Warendorf', name: 'Warendorf' },
      ]
    },
    results: [],
    current: null,
    selected: null,
    locations: [
      {
        id: 1,
        name: 'Heimatverein Münster Eins',
        county: 'Münster Städte',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.96712864046486, 7.62597836860118],
        marker: null
      },
      {
        id: 2,
        name: 'Heimatverein Münster Zwei',
        county: 'Münster Städte',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.90951440337593, 7.621249915368067],
        marker: null
      },
      {
        id: 3,
        name: 'Heimatverein Münster Drei',
        county: 'Münster Städte',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.96912674322523, 7.574989305635977],
        marker: null
      },
      {
        id: 4,
        name: 'Heimatverein Coesfeld Eins',
        county: 'Coesfeld',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.9253833653372, 7.177231225787015],
        marker: null
      },
      {
        id: 5,
        name: 'Heimatverein Coesfeld Zwei',
        county: 'Coesfeld',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.86174077434947, 7.475767488942785],
        marker: null
      },
      {
        id: 6,
        name: 'Heimatverein Warendorf Eins',
        county: 'Warendorf',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.95612164190155, 7.966718723492161],
        marker: null
      },
      {
        id: 7,
        name: 'Heimatverein Warendorf Zwei',
        county: 'Warendorf',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.91715246771387, 7.967085164517754],
        marker: null
      },
      {
        id: 8,
        name: 'Heimatverein Warendorf Drei',
        county: 'Warendorf',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.928319308905245, 7.849775834795684],
        marker: null
      },
      {
        id: 9,
        name: 'Heimatverein Warendorf Vier',
        county: 'Warendorf',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.98901734697654, 8.03682821301583],
        marker: null
      },
      {
        id: 10,
        name: 'Heimatverein Warendorf Fünf',
        county: 'Warendorf',
        district: 'Munster',
        contact: 'Gerold Wilken',
        address: 'Heimatmuseum\nBahnhofsallee 10\n48653 Coesfeld-Lette',
        phone: '02546 234 (Anrufbeantworter)',
        email: 'info@heimatverein-lette.de',
        keywords: 'Archive, Geschichte, Heimatmuseum / Heimatstube, Naturschutzarbeit, Ortsbildpflege, Regelmäßige größere Veranstaltungen',
        website: 'https://www.whb.nrw/de/',
        latLng: [51.76448965454254, 8.036933046623792],
        marker: null
      },
    ],
  }),

  mounted() {
    this.map = L.map('osmap-map')
    this.map.setView(this.center, this.zoom)
    this.map.on('zoomend', this.onZoomChange)
    
    L.tileLayer(this.url, {
      attribution: this.attribution,
      maxZoom: 18,
    }).addTo(this.map)

    for (var location of this.locations) {
      const marker = L.marker(location.latLng, {icon: this.icon})
      marker.addTo(this.map)
      marker.on('mouseover', this.onMarkerOver.bind(this, location))
      marker.on('mouseout', this.onMarkerOut)
      marker.on('click', this.selectLocation.bind(this, location))
      location.marker = marker
    }

    this.geojsonRegions = L.geoJson(regions, {style: this.geoStyler, onEachFeature: this.onEachRegionFeature})
    this.geojsonRegions.addTo(this.map)
    
    this.geojson = L.geoJson(counties, {style: this.geoStyler, onEachFeature: this.onEachFeature})
    // this.geojson.addTo(this.map)

    this.doSearch()
  },

  methods: {
    doSearch() {
      // TODO: Connect to backend
      this.results = this.locations.filter((location) => {
        return (this.form.region && location.county == this.form.region) && (!this.form.query || location.name.toLowerCase().includes(this.form.query.toLowerCase()))
      })
      for (const location of this.locations) {
        location.marker._icon.style.display = this.results.includes(location) ? '' : 'none'
      }
    },
    onEachRegionFeature(feature, layer) {
      layer.on({
        mouseover: this.highlightFeature,
        mouseout: this.resetHighlight,
        click: this.onRegionClick
      })

      const tooltip = layer.bindTooltip(
        String(feature.properties.NAME_2),
        {
          permanent: true, 
          direction: "center",
          className: "osmap-label"
        }
      )
      tooltip.openTooltip();
      this.tooltips.push(tooltip)
    },
    onEachFeature(feature, layer) {
      layer.on({
        mouseover: this.highlightFeature,
        mouseout: this.resetHighlight,
        click: this.onCountyClick
      })

      const tooltip = layer.bindTooltip(
        String(feature.properties.NAME_3),
        {
          permanent: true, 
          direction: "center",
          className: "osmap-label"
        }
      )
      tooltip.openTooltip();
      this.tooltips.push(tooltip)
	},
    highlightFeature(e) {
      var layer = e.target

      layer.setStyle({
        "fillColor": "rgba(228, 0, 26, 0.26)"
      })

      layer.bringToFront()
    },
    resetHighlight(e) {
      if (this.showingRegions) {
        this.geojsonRegions.resetStyle(e.target)
      } else {
        this.geojson.resetStyle(e.target)
      }
    },
    onZoomChange(e) {
      if (this.map.getZoom() > 7) {
        this.tooltips.forEach((tooltip) => {
          tooltip.openTooltip()
        })
      } else {
        this.tooltips.forEach((tooltip) => {
          tooltip.closeTooltip()
        })
      }
    },
    onCountyClick(e) {
	  this.map.fitBounds(e.target.getBounds())
      this.form.region = e.target.feature.properties.NAME_3
	},
    onRegionClick(e) {
      this.map.fitBounds(e.target.getBounds())
      setTimeout(() => {
        this.showingRegions = false
        this.geojsonRegions.remove()
        this.geojson.addTo(this.map)
      }, 500)
    //   this.form.region = e.target.feature.properties.NAME_3
    },
    onMarkerOver(location) {
      this.current = location
    },
    onMarkerOut() {
      this.current = null
    },
    selectLocation(location) {
      this.selected = location
    },
    closeSidebar() {
      this.selected = null
    },
    clearAll() {
      this.form.region = null
      this.form.query = null
      if (!this.showingRegions) {
        this.geojson.remove()
        this.geojsonRegions.addTo(this.map)
      }
    }
  },

  watch: {
    'form': {
      handler: function (val, oldVal) {
        if (this.searchTimer) {
          clearTimeout(this.searchTimer)
        }
        this.searchTimer = setTimeout(() => {
          this.doSearch()
        }, 500)
      },
      deep: true
    }
  }
}
</script>
