{% load static sekizai_tags %}

{% addtoblock 'head_frontend_files' %}
{% if settings.DJANGO_ENV.value == 'local' %}
<!-- <script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.js"></script> -->
<script defer src="{% static 'osmap/osmap.umd.js' %}" data-is-reload-on-page-edit="true"></script>
<link rel="stylesheet" href="{% static 'osmap/style.css' %}">
{% else %}
<script defer src="{% static 'osmap/osmap.umd.js' %}" data-is-reload-on-page-edit="true"></script>
<link rel="stylesheet" href="{% static 'osmap/style.css' %}">
{% endif %}
{% endaddtoblock 'head_frontend_files' %}

<div id="osmapplugin"></div>
