@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
/* TODO: inherit from main theme */

#osmapplugin {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      color: #E4001A;
    }

    .text-black {
      color: #000;
    }

    .text-strong {
      font-weight: 700;
    }

    a {
      color: #E4001A;
    }

    p, input, .v-select {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .v-select {
      input {
        height: 30px;
      }
      &.vs--open .vs__dropdown-toggle {
        border: 1px solid #000;
      }
      .vs__open-indicator {
        fill: #333;
      }
    }

    .osmap-container {
      overflow: hidden;
    }

    .osmap-inner {
      height: 700px;
      display: flex;
      .osmap-left {
        width: 30%;
      }
      .osmap-right {
        width: 70%;
      }
      .osmap-sidebar {
        width: 40%;
        overflow-y: auto;
      }
      .osmap-card {
        border: 1px solid #EDEDED;
        &.no-border-top {
          border-top: none;
        }
      }
      .osmap-list {
        overflow-x: hidden;
        overflow-y: scroll;
        ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }
        ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0, 0, 0, .5);
          -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
      }
      .osmap-list-item {
        cursor: pointer;
        border-bottom: 1px solid #EDEDED;
        margin-right: 14px;
        &:hover, &.active {
          background-color: #F5F5F5;
        }
      }
    }
    
    input:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    
    .input-search {
      .search-icon {
        position: absolute;
        right: 8px;
          top: 4px;
        z-index: 99;
      }
      input:focus {
        border: 1px solid #000;
      }
    }
    
    .vs__dropdown-toggle {
      border-radius: 0;
    }
    
    input {
      border-radius: 0;
      height: 40px;
    }

    .cursor-pointer {
      cursor: pointer;
    }


    .leaflet-tile-loaded {
      filter: grayscale(10) contrast(0.25) brightness(1.75);
    }

    .leaflet-tooltip.osmap-label {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      background-color: transparent;
      border: transparent;
      box-shadow: none;
    }
}